  /* 头像呼吸灯 */
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}

[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}

@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 1px 1px #9ff2d2;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #9ff2d2;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #9ff2d2;
    }
}

@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
    50% {
        box-shadow: 0px 0px 5px 5px #39c5bb;
    }
    100% {
        box-shadow: 0px 0px 1px 1px #39c5bb;
    }
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: var(--theme-color) !important;
  }
  
  /* 代码框底部滚动条 */
  #article-container figure.highlight > ::-webkit-scrollbar-thumb {
    background-color: #35393f !important;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 75%,
      transparent
    ) !important;
    border-radius: 2em !important;
  }

/* 超链接样式 参考heo */
#article-container
  a:not(.fancybox, .imgbox, .swf, .box, .pimgbox, .magnet_link) {
  text-decoration: none;
  /* border-bottom: 2px solid var(--theme-color) */
  /* border-radius: 4px 4px 0 0 */
}

#article-container
  a:not(
    .fancybox,
    .imgbox,
    .swf,
    .box,
    .pimgbox,
    .magnet_link,
    .gallery_link
  ):hover {
  text-decoration: none;
  color: #fefefe;
  background: var(--text-bg-hover) !important;
  border-radius: 4px;
  box-shadow: 0 8px 12px -3px #4259ef23;
  padding: 2px;
  transition: all 0.3s ease-in-out;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 代码框主题 */
#article-container figure.highlight {
    border-radius: 10px;
  }
  [data-theme="dark"] #article-container figure.highlight {
    border: 0.5px solid #404040;
  }

/* 手机端适配 */
@media screen and (max-width: 768px) {
    .tk-comment .vemoji[alt|="Menhera"],
    .tk-comment .tk-owo-emotion[alt*="Menhera"],
    .tk-comment .vemoji[alt|="Snow"],
    .tk-comment .tk-owo-emotion[alt*="Snow"],
    .tk-comment .vemoji[alt|="Sweetie"],
    .tk-comment .tk-owo-emotion[alt*="Sweetie"],
    .tk-comment .vemoji[alt|="Tsuri"],
    .tk-comment .tk-owo-emotion[alt*="Tsuri"],
    .tk-comment .vemoji[alt|="Yurui"],
    .tk-comment .tk-owo-emotion[alt*="Yurui"] {
      max-width: calc(100% - 30px) !important;
      max-height: calc(100% - 30px) !important;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Menhera"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Snow"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Sweetie"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tsuri"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Yurui"] {
      max-width: calc(33% - 10px);
      box-sizing: border-box;
    }
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Heybox"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="bilibili"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="Tieba"],
    .OwO .OwO-body .OwO-items-image .OwO-item[title*="QQ"] {
      max-width: calc(18% - 10px) !important;
      box-sizing: content-box;
    }
  }

/* 自适应内容 */
@media screen and (min-width: 1024px) {
    /* 设置宽度上限，避免挤压博主头像 */
    .tk-content {
      max-width: 75%;
      width: fit-content;
    }
    .tk-master .tk-content {
      width: 75%;
    }
    .tk-master .tk-content::before {
      left: 100%;
      border-left: 15px solid transparent;
      border-right: 0px solid transparent;
    }
    .tk-master .tk-avatar {
      position: relative;
      left: calc(75% + 70px);
    }
    .tk-master .tk-row[data-v-d82ce9a0] {
      position: relative;
      top: 0px;
      left: calc(75% - 230px);
    }
    [data-theme="dark"] .tk-master .tk-content::before {
      border-left: 15px solid #000;
      border-right: 0px solid transparent;
    }
  }

/* 全局宽度 参考:https://yisous.xyz/posts/d1fc759/ */
.layout {
    max-width: 1100px;
  }
  
  /* 侧边卡片栏宽度 */
  .aside-content {
    max-width: 318px;
    min-width: 300px;
  }
  
  /* 平板尺寸自适应(不启用侧边栏宽度限制) */
  @media screen and (max-width: 900px) {
    .aside-content {
      max-width: none !important;
      padding: 0 5px 0 5px;
    }
  }

/* 美化模块 */
.winbox {
    border-radius: 12px;
    overflow: hidden;
  }
  
  .wb-body {
    background-color: #e5f1f5;
  }
  
  .wb-full {
    display: none;
  }
  
  .wb-min {
    background-position: center;
  }
  
  [data-theme="dark"] .wb-body,
  [data-theme="dark"] #changeBgBox {
    background: #333 !important;
  }
  
  .bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .pimgbox,
  .imgbox,
  .box {
    height: 100px;
    width: 166px;
    margin: 10px;
    border-radius: 10px !important;
    background-size: cover;
  }
  
  .pimgbox,
  .imgbox {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .imgbox:hover,
  .pimgbox:hover,
  .box:hover {
    scale: 1.05;
    transition: all 0.3s ease-in-out;
  }
  
  .pimgbox {
    height: 240px;
  }
  
  .imgbox {
    height: 95px;
  }
  
  @media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
      height: 73px;
      width: 135px;
    }
    .pimgbox {
      height: 205px;
    }
  
    /* 2.0新增内容 */
    .wb-min {
      display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
      display: none;
    }
  }

/* 应用监控夜间模式适配 id要# class是直接来就行*/
[data-theme="dark"] #statistic {
    background: #2b2929;
  }

/* 小冰分类分类磁贴黑夜模式适配 */
/* 一般状态 */
[data-theme="dark"] .magnet_link_context {
  background: #1e1e1e;
  color: antiquewhite;
}
/* 鼠标悬浮状态 */
[data-theme="dark"] .magnet_link_context:hover {
  background: #3ecdf1;
  color: #f2f2f2;
}


@import "//at.alicdn.com/t/font_2264842_b004iy0kk2b.css";

svg.icon {
  width: 1.8em;
  height: 1.8em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 夜间模式页脚页头遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 控制明暗模式切换按钮的颜色和大小 */
/* #toggle-menu .site-page i {
  color: rgb(0, 255, 136); 
  font-size: 1.38em; 
} */


/* 以下是知鱼博客自定义CSS样式 */
/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */
@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

div#menus {
  font-family: "ZhuZiAYuanJWD";
}
h1#site-title {
  font-family: ZhuZiAYuanJWD;
  font-size: 3em !important;
}
a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title {
  font-family: ZhuZiAYuanJWD;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 3em;
  /* 可以定义图标大小 */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 时间轴生肖icon */
svg.icon {
  /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.icon-zhongbiao::before {
  color: #f7c768;
}

/* bilibli番剧插件 */
#article-container .bangumi-tab.bangumi-active {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-ahoverbg);
  border-radius: 10px;
}
a.bangumi-tab:hover {
  text-decoration: none !important;
}
.bangumi-button:hover {
  background: var(--anzhiyu-theme) !important;
  border-radius: 10px !important;
  color: var(--anzhiyu-ahoverbg) !important;
}
a.bangumi-button.bangumi-nextpage:hover {
  text-decoration: none !important;
}
.bangumi-button {
  padding: 5px 10px !important;
}

a.bangumi-tab {
  padding: 5px 10px !important;
}
svg.icon.faa-tada {
  font-size: 1.1em;
}
.bangumi-info-item {
  border-right: 1px solid #f2b94b;
}
.bangumi-info-item span {
  color: #f2b94b;
}
.bangumi-info-item em {
  color: #f2b94b;
}

/* 解决artitalk的图标问题 */
#uploadSource > svg {
  width: 1.19em;
  height: 1.5em;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header:not(.not-top-img):before {
  background-color: transparent !important;
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.9);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
  background: rgba(255, 255, 255, 0.9);
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.9);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.9);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.9);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.9);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.9);
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: #121212;
}

[data-theme="dark"] .card-widget {
  background: #121212 !important;
}

[data-theme="dark"] div#post {
  background: #121212 !important;
}

[data-theme="dark"] div#tag {
  background: #121212 !important;
}

[data-theme="dark"] div#archive {
  background: #121212 !important;
}

[data-theme="dark"] div#page {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: #121212 !important;
}

[data-theme="dark"] div#category {
  background: transparent !important;
}

/* 页脚透明 */
/* #footer {
  background: transparent !important;
} */

/* 头图透明 */
/* #page-header {
  background: transparent !important;
}

#rightside > div > button {
  border-radius: 5px;
} */

/* 滚动条 */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b70fc;
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #3b70fc;
}

/* 音乐播放器 */

/* .aplayer .aplayer-lrc {
  display: none !important;
} */

  /* 默认情况下缩进左侧66px，只留一点箭头部分 */

/* .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  transition: all 0.3s;
} */

  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  
/* .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  transition: all 0.3s;
}

.aplayer.aplayer-fixed {
  z-index: 999999 !important;
} */

/* 评论框  */
.vwrap {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 30px 0px;
}

/* 设置评论框 */

.vcard {
  box-shadow: 2px 2px 5px #bbb;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 30px;
  margin: 30px 0px 0px 0px;
}

/* md网站下划线 */
#article-container a:hover {
  text-decoration: none !important;
}

#article-container #hpp_talk p img {
  display: inline;
}

/* 404页面 */
#error-wrap {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  transform: translate(0, -50%);
}

#error-wrap .error-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 18rem;
  border-radius: 8px;
  background: var(--card-bg);
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s;
}

#error-wrap .error-content .error-img {
  box-flex: 1;
  flex: 1;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #3b70fc;
  background-position: center;
  background-size: cover;
}

#error-wrap .error-content .error-info {
  box-flex: 1;
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
}
#error-wrap .error-content .error-info .error_title {
  margin-top: -4rem;
  font-size: 9em;
}
#error-wrap .error-content .error-info .error_subtitle {
  margin-top: -3.5rem;
  word-break: break-word;
  font-size: 1.6em;
}
#error-wrap .error-content .error-info a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.3rem 1.5rem;
  background: var(--btn-bg);
  color: var(--btn-color);
}

#body-wrap.error .aside-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0px;
  position: absolute;
  padding: 1rem;
  width: 100%;
  overflow: scroll;
}

#body-wrap.error .aside-list .aside-list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

#body-wrap.error .aside-list .aside-list-item {
  padding: 0.5rem;
}

#body-wrap.error .aside-list .aside-list-item img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
  overflow: hidden;
  width: 230px;
  height: 143px;
  background: var(--anzhiyu-card-bg);
  display: flex;
}

#body-wrap.error .aside-list .aside-list-item .content .title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  padding-top: 0.5rem;
  color: white;
}

#body-wrap.error .aside-list .aside-list-item .content time {
  display: none;
}

/* 代码框主题 */
#article-container figure.highlight {
  border-radius: 10px;
}
/* 以上是安知鱼博客自定义CSS样式 */
