#card-poem {
    display: flex;
    flex-direction: column;
    padding: 0.5rem!important;
    min-height: 130px;
}
div#poem_sentence {
    text-align: center;
    font-family: serif,cursive;
    line-height: 1.9;
    margin-bottom: 0.66rem; /* 诗词与作者 间距调整 */
    padding: 1rem;
    border-radius: 15px;
    background: var(--trans-light);
    min-height: 62px;
    color: var(--theme-color);
    font-weight: bold; /* 设置字体加粗 */
}
[data-theme=dark] div#poem_sentence {
    background: var(--trans-dark);
}
/* 朝代 */
div#poem_dynasty {
    order: 0;
    padding: 1px 5px 5px 6px;
    background: var(--trans-light);
    color: var(--font-color);
    border-radius: 8px;
    font-size: 15px;
}
[data-theme=dark] div#poem_dynasty {
    background: var(--trans-dark);
}
/* 诗词作者和名字 */
div#poem_info {
    display: flex;
    color: var(--font-color);
    font-size: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
}
div#poem_author {
    order: 1;
    padding: 6px;
    margin-left: 12px;
    background: var(--trans-light);
    border-radius: 8px;
}
[data-theme=dark] div#poem_author {
    background: var(--trans-dark);
}

/* 小点的样式 */
div#poem_info .dot {
    width: 6px; /* 小点的宽度 */
    height: 6px; /* 小点的高度 */
    background-color: var(--theme-color); /* 小点的颜色，使用 CSS 变量 */
    border-radius: 50%; /* 将小点变成圆形 */
    position: relative; /* 使用相对定位 */
    transform: translate(6px, 15px); /* 向右移动 10 像素，向下移动 5 像素 */
}