/********************全局圆角***********************/
/*首页文章卡片圆角*/
#recent-posts .recent-post-item {
  border-radius: 20px; /* 添加圆角效果，数值可按需调整 */
}

/*文章页目录卡片圆角*/
#aside-content .card-widget {
  border-radius: 20px;
  }

/*文章正文圆角*/
#post {
  border-radius: 20px;
}

/*（友链+归档+分类+便签）圆角*/
#page {
  border-radius: 20px;
}

/*文章图片圆角*/
.container img {
  border-radius: 15px;
}

/*相关文章卡片*/
#post .pagination-related {
  border-radius: 15px;
}

/*文章相关推荐卡片圆角*/
.relatedPosts > .relatedPosts-list > div {
  border-radius: 20px;
}
#aside-content #card-toc .toc-content .toc-link.active {
  background: #669cbe;
  border-radius: 5px;
}

/*文章上下篇卡片圆角*/
#pagination.pagination-post {
    border-radius: 20px;
}

.site-page.child.faa-parent.animated-hover.wow.animate__zoomIn {
  border-radius: 8px;
}
.menus_item_child {
  border-radius: 8px;
}

