/*文章页信息栏美化*/
#post-info .post-title {
  font-weight: 600; /*字体粗细*/
  font-size: 2.5em; /*字体大小*/
  line-height: 2.2; /*元素高度*/
  letter-spacing: 9px; /*字体间距*/
}


/*信息栏高度调整*/
#page-header.post-bg {
  height: 26rem;
}

/*Web端信息栏适配*/
@media screen and (min-width: 421px){
  #page-header #post-info {
    bottom: 8rem;
}
}

/*Wap端信息栏适配*/
@media screen and (max-width: 420px){
  #page-header #post-info {
    bottom: 2rem;
}
}

/*圆角******************************************/

/*文章页目录卡片圆角*/
#aside-content .card-widget {
  border-radius: 20px;
}

/*文章正文圆角*/
#post {
  border-radius: 20px;
}

/* 文章图片圆角 */
.container img {
  border-radius: 15px;
}

/*文章页相关推荐圆角**************************************/
/*文章相关推荐卡片美化*/
.relatedPosts > .relatedPosts-list > div {
  border-radius: 20px;
}

#aside-content #card-toc .toc-content .toc-link.active {
  background: #669cbe;
  border-radius: 5px;
}
/*文章上下篇圆角*/
#pagination.pagination-post{
    border-radius: 20px;
}


/*文章页版权信息************************************/
/* 版权信息 */
/* 背景 */
#post .post-copyright {
  background: var(--heo-card-bg);
  padding: 2rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  transition: 0.3s;
  border-radius: 11px;
}

#post .post-copyright:after {
  position: absolute;
  right: 22px;
  top: -77px;
  content: '\f25e';
  font-size: 180px;
  font-family: 'Font Awesome 5 Brands';
  color: var(--heo-fontcolor);
  opacity: 0.4;
  filter: blur(7px);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    padding: 1rem 1.3rem;
  }
}

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    box-shadow: var(--heo-shadow-border);
  }

  .post-copyright .post-meta-original {
    display: none;
  }

  .post-copyright__original {
    display: none;
  }

  #post .post-copyright:after {
    display: none;
  }
}


/* 作者名 */
#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
}

#post .post-copyright .post-copyright__notice .post-copyright-info a {
  padding: 0 4px;
}

#post .post-copyright .post-copyright-info a:hover {
  color: var(--heo-lighttext);
}

#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post .post-copyright .post-copyright-title {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: bold;
}

#post .post-copyright .post-copyright-title:hover {
  color: var(--heo-lighttext);
}

#post>div.post-copyright>div.post-copyright__author>span>span {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.38;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/*右下角按钮*/
#rightside > div > button, #rightside > div > a {
  display: block;
  margin-bottom: 6px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color: #2d587a;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

@media screen and (max-width: 768px) {
  #post>div.post-copyright>div.post-copyright__author>span>span {
    -webkit-line-clamp: 3;
  }

  #post .post-copyright .post-copyright-info {
    -webkit-line-clamp: 2;
  }

  #post .post-copyright .post-copyright-title {
    -webkit-line-clamp: 3;
    line-height: 1.2;
  }
}

/* 链接 */
#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post>div.post-copyright>div.post-copyright__type>span>a:hover {
  opacity: 1;
  background: none;
}

#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 提示 */
#post>div.post-copyright>div.post-copyright__notice {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0.5rem 0;
}
/*装饰圈*/
#post .post-copyright:before {
  display: none;
}

#post .post-copyright .post-copyright-meta {
    color: #5a7ed7;
    font-weight: bold;
}
#post .post-copyright {
    padding: 2rem 1.3rem;
    border-radius: 11px;
    border-style: solid;
}
