/****************** 头像呼吸灯 ***********************/
[data-theme="light"] .avatar-img {
    animation: huxi_light 4s ease-in-out infinite;
}

[data-theme="dark"] .avatar-img {
    animation: huxi_dark 4s ease-in-out infinite;
}

/* 明亮模式下的呼吸灯效果 */
@keyframes huxi_light {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(159, 242, 210, 0.3);
    }
    25% {
        box-shadow: 0px 0px 10px 2px rgba(159, 242, 210, 0.6);
    }
    50% {
        box-shadow: 0px 0px 15px 4px rgba(159, 242, 210, 0.9);
    }
    75% {
        box-shadow: 0px 0px 10px 2px rgba(159, 242, 210, 0.6);
    }
    100% {
        box-shadow: 0px 0px 5px 0px rgba(159, 242, 210, 0.3);
    }
}

/* 黑暗模式下的呼吸灯效果 */
@keyframes huxi_dark {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(57, 197, 187, 0.3);
    }
    25% {
        box-shadow: 0px 0px 10px 2px rgba(57, 197, 187, 0.6);
    }
    50% {
        box-shadow: 0px 0px 15px 4px rgba(57, 197, 187, 0.9);
    }
    75% {
        box-shadow: 0px 0px 10px 2px rgba(57, 197, 187, 0.6);
    }
    100% {
        box-shadow: 0px 0px 5px 0px rgba(57, 197, 187, 0.3);
    }
}