/****************************** 定义全局颜色 ****************************/
:root {
  --mobufan-beijing: rgba(25, 25, 25, 0.2); /* 日间模式，背景颜色 */
  --mobufan-fontcolor: #ffffff; /* 日间模式，字体颜色 */
  --mobufan-border: 1px solid #e0e0e0; /* 边框样式（白色实线） */
  --mobufan-shadow-border: 0 4px 12px 0 rgb(47, 255, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.2); /* 边框阴影效果悬浮感的立体光影效果 */
  --mobufan-text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* 日间模式，文字阴影效果 */
  --mobufan-border-style: 1.2px solid rgb(169, 169, 169); /* 边框装饰线颜色 */
  --mobufan-backdrop-filter: blur(6px) saturate(150%); /* 磨砂效果（模糊+饱和度） */
  --mobufan-color: #ffb800; /* 悬停时文字颜色变为黄色 */
  --mobufan-white: #ffffff; /* 白色字体 */
  --mobufan-touming: rgba(25, 25, 25, 0); /* 透明背景颜色 */
  --mobufan-hangneidaima: #00e33b; /* 文章行内代码文字颜色 */
}

/********* 明亮模式颜色配置 *********/
[data-theme="light"] {
  --mobufan-beijing: rgba(255, 255, 255, 0.75); /* 日间模式，背景颜色 */
  --mobufan-fontcolor: #ffffff; /* 日间模式，字体颜色 */
  --mobufan-border: 1px solid #e0e0e0; /* 边框样式（浅灰色实线） */
  --mobufan-shadow-border: 0 4px 12px 0 rgb(255, 0, 153), 0 1px 3px 0 rgba(0, 0, 0, 0.2); /* 边框阴影效果悬浮感的立体光影效果 */
  --mobufan-text-shadow: 0 0 5px rgb(255, 0, 153); /* 日间模式，文字阴影效果 */
  --mobufan-border-style: 1.2px solid rgb(169, 169, 169); /* 边框装饰线颜色 */
  --mobufan-hangneidaima: rgb(255, 0, 153); /* 文章行内代码文字颜色 */
}

/********* 暗色模式颜色配置 *********/
[data-theme="dark"] {
  --mobufan-beijing: rgba(25, 25, 25, 0.2); /* 日间模式背景颜色 */
  --mobufan-fontcolor: #212529; /* 日间模式，字体颜色 */
  --mobufan-shadow-border: 0 4px 12px 0 rgb(47, 255, 0), 0 1px 3px 0 rgba(0, 0, 0, 0.2); /* 边框阴影效果悬浮感的立体光影效果 */
  --mobufan-text-shadow: 0 0 5px rgb(47, 255, 0); /* 日间模式，文字阴影效果 */
  --mobufan-hangneidaima: rgb(47, 255, 0); /* 文章行内代码文字颜色 */
}

/************************ 背景颜色+边框装饰线+磨砂效果 ************************/
#rightside > div > button, /* 右下角明暗模式，评论 */
#rightside > div > a, /* 右下角明暗模式，评论 */
#pagination .page-number, /* 文章分页2 */
#pagination .extend.next, /* 文章分页1 */
.search-dialog, /* 搜索框 */
#tag, /* 标签子页面卡片 */
#category, /* 分类子页面卡片 */
#recent-posts .recent-post-item, /* 首页文章卡片 */
#aside-content .card-widget, /* 首页侧栏卡片 */
div#post, /* 文章页卡片 */
div#archive, /* 归档页卡片 */
div#page { /* 普通页卡片 */
  background: var(--mobufan-beijing) !important; /* 背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter) !important; /* 磨砂效果（模糊+饱和度） */
  border: var(--mobufan-border-style) !important; /* 边框装饰线颜色 */
}

/********************** 鼠标悬停，文字颜色 ***************************/
.aside-list-item .title:hover, /* 侧边栏-最近文章 */
.card-tag-cloud a:hover { /* 侧边栏-标签云 */
  color: var(--mobufan-hangneidaima) !important; /* 鼠标悬停，文字颜色 */
}

/*************************** 导航栏美化 ****************************/
/********** 一级菜单居中 **********/
#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/********* 子菜单横向展示 *********/
#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex;
}

/* 调整子菜单位置 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -125px;
}

/********* 去除导航栏选项中底下的蓝条 *********/
#nav *::after {
  background-color: transparent !important;
}

/********* 调整导航栏（图标大小和文字颜色）*********/
.site-page svg {
  width: 1.5em; /* 调整（导航栏图标）的宽度 */
  height: 1.5em; /* 调整（导航栏图标）的高度 */
}

.site-page span {
  font-size: 1.5em; /* 调整（导航栏文字）大小 */
  color: var(--mobufan-white); /* 调整（导航栏文字）颜色 */
}

.site-name {
  font-size: 1.8em; /* 调整（站点标题文字）大小 */
  color: var(--mobufan-white); /* 调整（站点标题文字）颜色 */
}

/* 导航栏文字加粗和间距调整 */
#menus > div.menus_items > div > a {
  letter-spacing: .1rem;
  font-weight: 600;
  padding: 0 .1em 0 0.1em;
  height: 30px;
  line-height: 30px;
  transition: color 0s !important;
}

/********* 导航栏菜单鼠标移入字体放大 *********/
.site-name:hover,
.menus_item:hover {
  font-size: 25px; /* 导航栏（主菜单）文字图标 */
  background: var(--mobufan-shadow-border) !important; /* 日间模式导航栏（主菜单）背景颜色 */
  transition: transform 0.3s ease; /* 平滑过渡效果 */
}

/********* 导航栏（主菜单）背景颜色 *********/
#page-header.nav-fixed #nav {
  background: var(--mobufan-shadow-border) !important; /* 日间模式导航栏（主菜单）背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter) !important; /* 磨砂效果（模糊+饱和度） */
}

/******************************* 导航栏（子菜单）背景颜色 ****************************/
.menus_item_child,
.site-page.child.faa-parent.animated-hover {
  background-color: var(--mobufan-shadow-border) !important; /* 设置元素的背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter) !important; /* 磨砂效果（模糊+饱和度） */
  transition: background-color 0.3s ease !important; /* 日间模式，添加（子菜单）过渡效果 */
}

#nav .menus_items .menus_item .menus_item_child li {
  list-style: none;
  border-radius: 20px;
  transition: all .3s;
  display: inline-block;
  margin: 0 3px;
  border: var(--mobufan-border-style) !important; /* 边框装饰线颜色 */
}

#nav .menus_items .menus_item .menus_item_child li:hover {
  background-color: transparent !important;
  border: var(--mobufan-border-style) !important; /* 边框装饰线颜色 */
  box-shadow: var(--mobufan-shadow-border) !important; /* 添加阴影效果 */
}

#nav .menus_items .menus_item .menus_item_child li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#nav .menus_items .menus_item .menus_item_child li:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#nav .menus_items .menus_item .menus_item_child li a {
  display: inline-block;
  padding: .5625rem 1rem;
  width: 100%;
  color: #4c4948 !important;
  text-shadow: none !important;
}

#nav .menus_items .menus_item .menus_item_child li a:hover {
  padding: .125rem 1.25rem;
  transform: scale(1) !important;
}

/********** 鼠标悬停背景颜色 **********/
div#menus_item:hover,
.menus_item_child:hover,
a.site-page.child.faa-parent.animated-hover:hover {
  background-color: var(--mobufan-touming) !important; /* 设置元素的背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter) !important; /* 磨砂效果（模糊+饱和度） */
  transition: background-color 0.3s ease !important; /* 添加（子菜单）过渡效果 */
}

/********** 手机端菜单栏背景 **********/
div#sidebar-menus {
  background: var(--mobufan-shadow-border) !important; /* 夜间模式背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter); /* 磨砂效果（模糊+饱和度） */
  border: var(--mobufan-border-style); /* 边框装饰线颜色 */
  border-radius: 15px; /* 圆角 */
}

.menus_items {
  background: var(--mobufan-shadow-border) !important; /* 夜间模式背景颜色 */
  backdrop-filter: var(--mobufan-backdrop-filter); /* 磨砂效果（模糊+饱和度） */
  border-radius: 15px !important; /* 圆角 */
}

.site-data {
  font-size: 16px; /* 图标大小 */
  line-height: 40px; /* 图标上下调节 */
  color: var(--mobufan-white); /* 调整（导航栏文字）颜色 */
  background: var(--mobufan-touming) !important; /* 背景颜色 */
}

#sidebar-menus .menus_items .menus_item a.site-page.faa-parent.animated-hover:hover {
  background-color: var(--mobufan-touming) !important;
}

/************************ 标签外挂背景颜色 ************************/
#post .container.post-content .folding-tag,
#post .container.post-content .folding-tag .content,
summary {
  background-color: transparent !important;
  transition: background-color 0.3s ease; /* 添加过渡效果 */
  border-radius: 10px; /* 圆角 */
}

summary:hover,
#post .container.post-content .folding-tag:hover {
  box-shadow: var(--mobufan-shadow-border) !important; /* 添加阴影效果 */
}

/************************ 阅读模式 ************************/
/*[data-theme="light"] .read-mode #aside-content .card-widget,
[data-theme="light"] .read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

[data-theme="dark"] .read-mode #aside-content .card-widget,
[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.2) !important;
  color: #ffffff;
}*/

/*************************** 右下角按钮美化 ************************/
#to_comment .fas.fa-comments,
#rightside > div > button,
#rightside > div > a {
  display: block;
  margin-bottom: 5px; /* 间距 */
  width: 42px; /* 左右边框大小 */
  height: 42px; /* 上下边框大小 */
  border-radius: 26px; /* 圆角大小 */
  text-align: center;
  font-size: 19px; /* 图标大小 */
  line-height: 42px; /* 图标上下调节 */
  color: var(--mobufan-hangneidaima); /* 图标颜色 */
}

/************************ 首页标题美化 ************************/
#post-info .post-title {
  color: var(--mobufan-white); /* 首页标题（文字）颜色 */
  font-weight: normal;
  font-size: 2.0em; /* 首页标题（文字）大小 */
  line-height: 1.5; /* 首页标题（与副标题）间距大小 */
  letter-spacing: 0px; /* 首页标题（字符）间距大小 */
  word-spacing: 0px; /* 首页标题（单词）间距 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

[data-theme="dark"] #post-info .post-title {
  color: var(--mobufan-white); /* 首页标题（文字）颜色 */
}

#post-meta .meta-firstline,
#post-meta .meta-secondline {
  color: var(--mobufan-white); /* 首页副标题（文字）颜色 */
  font-weight: normal;
  font-size: 1.2em; /* 首页副标题（文字）大小 */
  line-height: 1.5; /* 首页副标题（与标题）间距大小 */
  letter-spacing: 0px; /* 首页副标题（字符）间距大小 */
}

/******************** 文章toc目录美化 ********************/
#aside-content #card-toc .toc-content {
  margin: 8px 0px;
}

#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 3px;
  border-left: 0px solid #88000000;
  border-radius: 19px;
  font-size: 15px;
}

#aside-content #card-toc .toc-content .toc-link {
  color: var(--mobufan-white);
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  filter: blur(0.9px);
  transition: 0.3s;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  line-height: 2.2;
  border-radius: 5px;
  background-color: var(--mobufan-touming);
  color: var(--mobufan-hangneidaima);
  font-weight: bold;
  font-size: 18px;
}

#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 2.8;
  border-radius: 5px;
  color: var(--mobufan-hangneidaima);
  background-color: var(--mobufan-touming);
  font-weight: bold;
  font-size: 22px;
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 15px;
}

/******************************** 全局超链接颜色 *****************************/
#article-container a {
  color: var(--mobufan-hangneidaima);
}

#article-container a:hover {
  color: var(--mobufan-hangneidaima);
  text-decoration: underline;
}

/******************** 首页文章标题美化 **********************/
.article-title {
  text-align: center;
  letter-spacing: 0px;
  word-spacing: 0px;
}

.article-title:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/********************** 鼠标悬停时元素美化 **********************/
blockquote:hover,
#rightside > div > button:hover,
#to_comment .fas.fa-comments:hover,
.icon-V.hidden:hover,
#go-down:hover,
#go-up:hover,
#hide-aside-btn:hover,
#rightside-config:hover,
.aplayer.aplayer-fixed .aplayer-body:hover,
.tk-submit-action-icon:hover,
.el-button.tk-send.el-button--primary.el-button--small.is-disabled:hover,
.el-button.tk-preview.el-button--default.el-button--small:hover,
.tk-input.el-textarea:hover,
.el-input.el-input--small.el-input-group.el-input-group--prepend:hover,
#pagination .page-number:hover,
#pagination .extend.next:hover,
.pagination-related:hover,
#pagination .pagination-related:hover,
.highlight:hover,
.search-dialog:hover,
.local-search-box--input:hover,
#tag:hover,
#category:hover,
#recent-posts .recent-post-item:hover,
#aside-content .card-widget:hover,
div#post:hover,
div#page:hover,
div#archive:hover {
  box-shadow: var(--mobufan-shadow-border) !important;
}

/********* 鼠标悬浮（字体阴影）效果 **********/
.menus_item:hover,
.site-name:hover,
.tag-cloud-list a:hover,
.site-data .headline:hover,
.aside-list-item .title:hover,
.card-category-list-name:hover,
.card-tag-cloud a:hover,
#article-container a:hover,
.article-title:hover {
  text-shadow: var(--mobufan-text-shadow) !important;
}

/********* 鼠标悬停时（元素放大）效果 *********/
#rightside > div > a:hover,
#rightside > div > button:hover,
#to_comment .fas.fa-comments:hover,
#pagination .page-number:hover,
#pagination .extend.next:hover,
.site-data .headline:hover,
.aside-list-item .title:hover,
.card-tag-cloud a:hover,
.card-category-list-name:hover,
.icon-V.hidden:hover,
#go-down:hover,
#go-up:hover,
#hide-aside-btn:hover,
#rightside-config:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/*********************** 引用标签美化 **************************/
blockquote {
  border-left: 8px solid var(--mobufan-hangneidaima);
  padding: 0px 15px;
  font-size: 13px;
  margin: 16px 0px;
  border-radius: 10px;
  background-color: var(--mobufan-touming);
  backdrop-filter: var(--mobufan-backdrop-filter);
}

blockquote p {
  margin: 1px 1;
  padding: 5px 0;
  line-height: 1.3;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/*********************** 修改分类卡片布局 **************************/
li.card-archive-list-item,
li.card-category-list-item {
  width: 100%;
  box-flex: 1;
  flex: 0 0 48%;
}

#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--mobufan-hangneidaima);
  background-color: var(--mobufan-touming) !important;
  border-radius: 8px;
  border: 1px solid var(--mobufan-shadow-border) !important;
}

@media screen and (min-width: 1200px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(.97);
  }
}

#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e3e8f7;
}

#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  box-flex: inherit;
  flex: inherit;
}

#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/********** 搜索框美化 **********/
.local-search-box--input {
  height: 50px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease;
}

hr {
  display: none;
}

.search-dialog {
  --search-height: 200px !important;
  max-height: 800px;
  overflow-y: auto;
}